@model Freelancer.Domain.user
@{
    ViewBag.Title = "TestAddFriend";
}

<h2>Send a friend request</h2>
<br />
<br />
<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.e_mail, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.e_mail)
                @Html.ValidationMessageFor(model => model.e_mail)
            </div>
        </div>

        <br />
        <br />
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send request" class="btn btn-default" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
}