@model IEnumerable<Freelancer.Domain.user>
@{
    ViewBag.Title = "ListFriends";
}

<h2>ListFriends</h2>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.e_mail)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.e_mail)
            </td>

            <td>
                @Html.ActionLink("Remove", "remove", new { id = item.id })

            </td>

        </tr>
    }


</table>
