@model Freelancer.Domain.claim

@{
    ViewBag.Title = "PostClaim";
}

<h2>PostClaim</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true)



        <div class="form-group">
            @Html.LabelFor(model => model.title, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.contenu, "Body ", htmlAttributes: new { @class = "control-label col-md-2" })
           
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.contenu, new { rows= 15})
        @Html.ValidationMessageFor(model => model.contenu)
    </div>
</div>


        

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Post Claim" class="btn btn-default" />
            </div>
        </div>
    </div>
}


