@model Freelancer.Domain.job
@{
    ViewBag.Title = "Details";
}
@using Freelancer.Data.Models

<h2>Details</h2>

<div>
    <h4>job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estimate_duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estimate_duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.required_skills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.required_skills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userid)
        </dd>
        <!--
        <dt>
            @Html.DisplayNameFor(model => model.categ_fk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categ_fk)
        </dd>-->

    </dl>
</div>
<p>
    <!--@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |-->
    @Html.ActionLink("Back to List", "Index")
</p>

