@model Freelancer.Domain.user

@{
    ViewBag.Title = "Edit";
}
@using Freelancer.Data.Models

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>user</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.DTYPE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DTYPE)
                @Html.ValidationMessageFor(model => model.DTYPE)
            </div>
        </div>

        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.city, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.city)
                @Html.ValidationMessageFor(model => model.city)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.country, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.country)
                @Html.ValidationMessageFor(model => model.country)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.e_mail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.e_mail)
                @Html.ValidationMessageFor(model => model.e_mail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.first_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.first_name)
                @Html.ValidationMessageFor(model => model.first_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fund, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fund)
                @Html.ValidationMessageFor(model => model.fund)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.last_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.last_name)
                @Html.ValidationMessageFor(model => model.last_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pwd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pwd)
                @Html.ValidationMessageFor(model => model.pwd)
            </div>
        </div>

        

        

       

        <div class="form-group">
            @Html.LabelFor(model => model.about, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.about)
                @Html.ValidationMessageFor(model => model.about)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cv, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cv)
                @Html.ValidationMessageFor(model => model.cv)
            </div>
        </div>

        

        

        <div class="form-group">
            @Html.LabelFor(model => model.skills, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.skills)
                @Html.ValidationMessageFor(model => model.skills)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.company_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.company_name)
                @Html.ValidationMessageFor(model => model.company_name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

